.form{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
   
}
.botao{
    max-width: 150px;
    margin-left: 60px;
    margin-right: auto;
}
.potaro{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}