.container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.imagem{
    position: relative;
    right: 34rem;
    bottom: 25rem;
    width: 30rem;
}
.titulo{
    justify-content: left;
}
.botao{
    position: relative;
    right: 130px;
}